### ***Pandas Data Cleaning: Comprehensive Guide with Examples***

Data cleaning is a vital step in any data science or analytics workflow. It ensures your dataset is accurate, consistent, and ready for analysis or modeling. Pandas provides robust tools for cleaning and preprocessing data efficiently. Below are the essential data cleaning techniques in pandas, each with practical examples.

#### 1. Handling Missing Data
Missing values are common in real-world datasets. 

***what is missing values?***
- Missing values refer to the ***absence*** of data entries in a dataset where values are expected ***but*** not recorded.
- These are the blank cells or placeholders (such as **None** or **NaN(Not a Number)**) in your data table, indicating that information for certain variables or participants is unavailable. 
- Missing values can occur for various reasons, including incomplete data entry, equipment failure, lost files, non-responses to survey questions, or intentional omission

In Pandas, missing values, often represented as NaN (Not a Number), can cause problems during data processing and analysis. These gaps in data can lead to incorrect analysis and misleading conclusions.

Pandas provides a host of functions like dropna(), fillna() and combine_first() to handle missing values.

Pandas offers several methods to identify, remove, or fill these gaps.

***Identify missing values*** :

- Problem: Missing values (NaN) distort analysis.
- Solution: Identify, remove, or fill missing values.

Step-by-Step Examples:

In [37]:
# Create a DataFrame with missing values
data = {'Name': ['Alice', 'Bob', None, 'Charlie'],
        'Age': [25, None, 22, 30],
        'Salary': [50000, 60000, None, 70000]}
df = pd.DataFrame(data)

# (a) Identify missing values
print(df.isnull().sum())

Name      1
Age       1
Salary    1
dtype: int64

***Remove rows with missing values***:

One straightforward way to handle missing values is by removing them. Since the data sets we deal with are often large, eliminating a few rows typically has minimal impact on the final outcome.

We use the **dropna()** function to remove rows containing at least one missing value.

In [38]:
df_clean = df.dropna()  # Returns new DataFrame without missing rows
df.dropna(inplace=True)  # Removes in place

In [39]:
# (b) Remove rows with missing values
df_clean = df.dropna()
print(df_clean)

      Name   Age   Salary
0    Alice  25.0  50000.0
3  Charlie  30.0  70000.0

Fill missing values:

In [ ]:
df_filled = df.fillna(0)  # Replace NaN with 0
df['column'] = df['column'].fillna(df['column'].mean())  # Fill with column mean

In [20]:
# (c) Fill missing values
df_filled = df.fillna({'Name': 'Unknown', 'Age': df['Age'].mean(), 'Salary': 0})
print(df_filled)

      Name        Age   Salary
0    Alice  25.000000  50000.0
1      Bob  25.666667  60000.0
2  Unknown  22.000000      0.0
3  Charlie  30.000000  70000.0

#### 2. Removing Duplicates
Duplicate rows can distort analysis and lead to misleading results.

Find duplicates:

In [8]:
duplicates = df.duplicated()  # Boolean Series indicating duplicates

Remove duplicates:

In [ ]:
df_no_duplicates = df.drop_duplicates()  # Returns new DataFrame
df.drop_duplicates(inplace=True)  # Removes in place

- Problem: Duplicate rows cause overcounting.
- Solution: Detect and remove duplicates.

Example:

In [ ]:
# Create a DataFrame with duplicates
data = {'Name': ['Alice', 'Bob', 'Alice', 'Charlie'],
        'Age': [25, 30, 25, 35]}
df = pd.DataFrame(data)

# Remove duplicates
df_no_duplicates = df.drop_duplicates()
print(df_no_duplicates)

#### 3. Data Transformation
Transforming data makes it consistent and suitable for analysis.

String manipulation:

In [ ]:
df['name'] = df['name'].str.lower()  # Convert to lowercase
df['name'] = df['name'].str.strip()  # Remove leading/trailing spaces
df['name'] = df['name'].str.replace(' ', '_')  # Replace spaces with underscores

- Problem: Inconsistent or incorrect data formats.
- Solution: Standardize data types and formats.

Examples:

In [25]:
# (a) Clean strings
data = {'Name': ['  Alice  ', 'BOB', 'Charlie ']}
df = pd.DataFrame(data)
df['Name'] = df['Name'].str.strip().str.lower()
print(df)

      Name
0    alice
1      bob
2  charlie

Convert data types:

In [ ]:
df['date'] = pd.to_datetime(df['date'])  # Convert string to datetime
df['age'] = df['age'].astype(int)        # Convert to integer

In [26]:
# (b) Convert data types
data = {'Age': ['25', '30', '22']}
df = pd.DataFrame(data)
df['Age'] = df['Age'].astype(int)
print(df.dtypes)

Age    int64
dtype: object

Rename columns:

In [ ]:
df.rename(columns={'old_name': 'new_name'}, inplace=True)

In [27]:
# (c) Rename columns
df = pd.DataFrame({'old_name': [1, 2, 3]})
df.rename(columns={'old_name': 'new_name'}, inplace=True)
print(df.columns)

Index(['new_name'], dtype='object')

#### 4. Handling Outliers
Outliers can skew results and should be identified and treated as needed.

Identify outliers:

In [ ]:
# Example: Find values outside 1.5*IQR
Q1 = df['col'].quantile(0.25)
Q3 = df['col'].quantile(0.75)
IQR = Q3 - Q1
outliers = df[(df['col'] < Q1 - 1.5 * IQR) | (df['col'] > Q3 + 1.5 * IQR)]

Remove outliers:

In [ ]:
df_no_outliers = df[~((df['col'] < Q1 - 1.5 * IQR) | (df['col'] > Q3 + 1.5 * IQR))]

- Problem: Outliers skew statistical results.
- Solution: Detect and remove using IQR (Interquartile Range).

Example:

In [29]:
# Create data with outliers
data = {'Values': [1, 2, 3, 4, 5, 100]}
df = pd.DataFrame(data)

# Calculate IQR bounds
Q1 = df['Values'].quantile(0.25)
Q3 = df['Values'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Filter outliers
df_clean = df[(df['Values'] >= lower_bound) & (df['Values'] <= upper_bound)]
print(df_clean)

   Values
0       1
1       2
2       3
3       4
4       5

#### 5. Filtering Data
Extract subsets of data based on conditions.

Example:

In [ ]:
adults = df[df['age'] >= 18]  # Filter rows where age is 18 or above

- Problem: Need to analyze subsets of data.
- Solution: Use conditional filtering.

Example:

In [30]:
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 17, 35]}
df = pd.DataFrame(data)

# Filter adults (age >= 18)
adults = df[df['Age'] >= 18]
print(adults)

      Name  Age
0    Alice   25
2  Charlie   35

#### 6. Handling Categorical Data
Categorical variables often need to be encoded for analysis or modeling.

Convert categories to codes:

In [ ]:
df['category_code'] = df['category'].astype('category').cat.codes

- Problem: Non-numeric data canâ€™t be used in models.
- Solution: Convert categories to numeric codes or one-hot encode.

Examples:

In [31]:
# (a) Convert to category codes
data = {'Grade': ['A', 'B', 'A', 'C']}
df = pd.DataFrame(data)
df['Grade_Code'] = df['Grade'].astype('category').cat.codes
print(df)

  Grade  Grade_Code
0     A           0
1     B           1
2     A           0
3     C           2

One-hot encoding:

In [ ]:
df_encoded = pd.get_dummies(df, columns=['category'])

In [33]:
# (b) One-hot encoding
df_encoded = pd.get_dummies(df, columns=['Grade'])
print(df_encoded)

   Grade_Code  Grade_A  Grade_B  Grade_C
0           0     True    False    False
1           1    False     True    False
2           0     True    False    False
3           2    False    False     True

#### 7. Automating Data Cleaning Pipelines
For larger projects, combine cleaning steps into a pipeline for reproducibility and efficiency.

Example:

In [ ]:
def clean_data(df):
    df = df.drop_duplicates()
    df = df.fillna(0)
    df['name'] = df['name'].str.lower().str.strip()
    df['date'] = pd.to_datetime(df['date'])
    return df

df_cleaned = clean_data(df)

- Problem: Repetitive cleaning steps.
- Solution: Create reusable functions.

Example:

In [34]:
def clean_data(df):
    # Fill missing values
    df.fillna({'Name': 'Unknown', 'Age': df['Age'].mean()}, inplace=True)
    # Remove duplicates
    df.drop_duplicates(inplace=True)
    # Standardize strings
    df['Name'] = df['Name'].str.lower().str.strip()
    return df

# Test the function
data = {'Name': ['  Alice  ', 'BOB', 'Alice', None],
        'Age': [25, None, 25, 30]}
df = pd.DataFrame(data)
df_clean = clean_data(df)
print(df_clean)

      Name        Age
0    alice  25.000000
1      bob  26.666667
2    alice  25.000000
3  unknown  30.000000

Correction: Add df.fillna({'Name': 'Unknown'}, inplace=True) in the function.

#### 8. Inspecting Data Before and After Cleaning
Always inspect your data before and after cleaning to verify changes.

In [ ]:
print(df.info())
print(df.describe())
print(df.head())
print(df.tail())
print(df['column'].value_counts())  # Count unique values in a column

Inspecting Cleaned Data

- Problem: Verify cleaning steps worked.
- Solution: Use head(), info(), and describe().

In [35]:
print(df_clean.head())
print(df_clean.info())
print(df_clean.describe())

      Name        Age
0    alice  25.000000
1      bob  26.666667
2    alice  25.000000
3  unknown  30.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      float64
dtypes: float64(1), object(1)
memory usage: 196.0+ bytes
None
             Age
count   4.000000
mean   26.666667
std     2.357023
min    25.000000
25%    25.000000
50%    25.833333
75%    27.500000
max    30.000000